<%= tag.div(flash[:alert], class: "flash flash--alert", role: "alert") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash flash--notice", role: "status") if flash[:notice] %>

<%= form_with url: admin_session_path do |form| %>
  <div>
    <%= form.label :email_address, "Admin Email" %>
    <%= form.email_field :email_address, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit "Secure Login" %>
  </div>
<% end %>
